{
    "apiUrl": "https://wotify.eu/api/v2",
    "token": "00000000-0000-0000-0000-000000000000",
    "dashboard": "devel",
    "db": "mongodb://localhost/widgets-ideacamp",
    "slideInterval": 5,
    "useCDN" : true,
    "port":  3001
}
