extends layout

block header
  nav(class="step")
    div.container
      div.row
        div.col-xs-12
          h1 Conversations

block content
  div.row
    div.col-xs-10
      ul.nav.nav-tabs
        //- li.active
        //-   a(href="#all", data-toggle="tab")
        //-     span.total-notes.badge 0
        //-     .
        //-       &nbsp;All Notes
        each i in steps
          li(class="step step-"+i, data-step=i)
            a(href="#tab-" + i, data-toggle="tab")
              span.total-notes.badge 0
              span.name Step !{i}

  div.tab-content
    each i in steps
      div(id="tab-"+i, class="row tab-pane" + (i===0 ? ' active' : ''))
        div.col-xs-10
          ul.media-list.well.well-sm

        div.col-xs-2
          div.step-users.well.well-sm
            h4 Idea Feeders &amp; Facilitators
            div.users
            div.clearfix
          div.group-users.well.well-sm
            h4 Idea Makers
            div.users
            div.clearfix

block append scripts
  script(src="/assets/js/allnotes.js?v="+version)

