extends layout

block append metas
  meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1')

block append styles
  link(rel="stylesheet", href="/assets/css/spaces.css")

block body
  body(class=bodyClass)
    each val in steps
      if val !== 0
        iframe(id="iframe" + val, data-step=val, src="/space" + val)
        //- iframe(id="iframe" + val, style="height:" + (100*3/total)+"%", src="/space" + val)

block prepend scripts
  script.
    FULLSCREEN=false;

block append scripts
  script.
    $(function(){
      var $body = $('body');
      var $all_iframe = $('iframe');

      function handleMaximize(e) {
        var c = String.fromCharCode(e.which);
        console.log('KEY PRESSED',e.which,c);
        var $iframe = $body.find('#iframe' + c);
        if(e.which && $iframe.is('iframe')) {
          e.preventDefault();
          if($iframe.data('step') == c && $iframe.hasClass('fullscreen')) {
            return $all_iframe.removeClass('hidden').removeClass('fullscreen');
          }
          $body.find('iframe:not(#iframe' + c + ')').addClass('hidden').removeClass('fullscreen');
          $iframe.removeClass('hidden').addClass('fullscreen');
          $iframe.focus();
        } else if(e.which == 102 || e.which == 70) toggleFullscreen();
      }
      function handleEscape(e) {
        if(e.keyCode === 27 || e.keyCode === 97 || e.keyCode === 65) {
          e.preventDefault();
          $all_iframe.removeClass('hidden').removeClass('fullscreen');
          $body.focus();
        }
      }
      //- showInfo('TIP: use CTRL- or CTRL+ to adjust the viewport!');
      showInfo('TIP: Use keyboard nums (1,2,3,...) to maximize a frame.');

      // Prevent iframes get keypress events
      $('body').keypress(handleMaximize)
      $('body').keydown(handleEscape);
      $('iframe').on('load',function() {
        $(this).contents().keypress(handleMaximize);
        $(this).contents().keydown(handleEscape);
      });
    });
