extends layout

block append styles
  link(rel="stylesheet", href="/assets/css/index.css")

block content
  div.row
    div(class="col-md-4 col-md-offset-4 menu")
      h1(class="text-center" ) Widgets
      a(href="/map-cluster/" )
        div Map Idea Makers Clusters
      a(href="/map/" )
        div Map Idea Makers Clusters
      a(href="/what-if/" )
        div What if
      a(href="/steps" )
        div Steps circle
      a(href="/steps/all" )
        div Steps Multiple view
      a(href="/step0" )
        div Step 0


