extends layout

block append styles
  link(rel="stylesheet", href="/assets/css/index.css")

block content
  div.row
    div(class="col-md-4 col-md-offset-4 menu")
      h1(class="text-center" ) Widgets
      a(href="/map/" )
        div Map Idea Makers
      a(href="/map-cluster/" )
        div Map Idea Makers (Clusters mode)
      a(href="/what-if/" )
        div What if
      a(href="/spaces" )
        div Spaces circle
      a(href="/spaces/all" )
        div Spaces Multiple view
      a(href="/space0" )
        div Space 0
      a(href="/notes" )
        div Conversations


