html
  head

    title=meta.title

    block metas
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      meta(name="description", content= meta.description)
      link(rel='image_src', type='image/png', href= meta.image)

      meta(property='og:image', content= meta.image)
      meta(property='og:title', content= meta.title)
      meta(property='og:description', content= meta.description)
      meta(property='og:url', content= meta.url)
      meta(property='og:site_name', content= meta.name)
      meta(property='og:type', content='website')

      meta(property='twitter:card', content='summary')
      meta(property='twitter:title', content= meta.title)
      meta(property='twitter:description', content= meta.description)
      meta(property='twitter:image:src', content= meta.image)

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")

    block styles
      if useCDN
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
      else
        link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")

      link(rel="stylesheet", href="/components/jquery-loading/dist/jquery.loading.min.css")
      link(rel="stylesheet", href="/components/animate.css/animate.min.css")
      link(rel="stylesheet", href="/components/select2/dist/css/select2.min.css")
      link(rel="stylesheet", href="/assets/css/app.css?v=" + version)
      link(href="https://fonts.googleapis.com/css?family=Roboto:500,400", rel="stylesheet")


    block body
      body(class=bodyClass)
        block header
        div.container
          block content
        block footer

    block scripts
      script.
        SLIDE_INTERVAL = !{slideInterval}

      if useCDN
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
      else
        script(src="/components/jquery/dist/jquery.min.js")
        script(src="/components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/components/underscore/underscore-min.js")

      script(src="/socket.io/socket.io.js")
      script(src="/components/emodal/dist/eModal.min.js")
      script(src="/components/select2/dist/js/select2.min.js")
      script(src="/components/jquery-loading/dist/jquery.loading.min.js")
      script(src="/components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")
      script(src="/components/jq-fullscreen/release/jquery.fullscreen.min.js")
      script(src="/assets/js/app.js?v=" + version)
