extends layout

block append metas
  meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1')

block append styles
  link(rel="stylesheet", href="/assets/css/steps.css")
  link(href="https://www.fontify.me/wf/13616c18583b4c758cefb695290910be" rel="stylesheet" type="text/css")

block content
  div.table
    div.cell
      object(type="image/svg+xml" data='/assets/img/circle.svg' class='svg-menu')
