@import "./mixins";


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


/* the mixin is called, css outputted and iterations called */

body{
  font-family: 'Roboto', sans-serif;

  #feed {
    font-family: monospace;
    font-size: 10px;
    p {
      margin:0;
      padding:0;
      color:rgb(@to * 20, @to * 20,@to * 20);
      .loop(@from);

      &.error {
        color:#a94442;
      }
    }
  }
}
