body{
	background-color: #4200C5;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

nav{
	background-color: #32009F;
}

.step-circle{
	border-radius:50%;
	background-color: #CDD1D5;
	width: 120px;
	height: 120px;
	color: #1F2326;
	margin-left: 30px;
	margin-bottom: 20px;
}
h1.title{
	padding-top: 30px;
	font-weight: bold;
	font-size: 28px;
}

nav div.imagine{
	background-color: #4B26FD;
	text-transform: uppercase;
	padding: 10px;
	transform: skew(-20deg);
    margin-left: 10px;
}

nav div.imagine div{
	padding-left: 20px;
	transform: skew(20deg);
}

nav div.info{
	background-color: #CDD1D5;
	padding: 20px 10px;
	color:#333;
	font-size: 14px;
	margin-right: 10px;
	font-weight: normal;
}

nav div.info span.glyphicon{
	font-size: 24px;
	color: #696468;
}

.moving{
	margin-top: 30px;
	padding-right: 60px;
	max-width: 300px;
	float: right;
}

.group-circle{
	border-radius:50%;
	background-color: #CDD1D5;
	width: 110px;
	height: 110px;
	color: #1F2326;
	margin-right: 30px;
	margin-bottom: 10px;
}

body .carousel-inner > .item{
	height: 250px;
}

footer{
	background-color: #32009F;
}

footer div.how{
	font-size: 55px;
	background-color: #5176FF;
	float:left;
	padding: 10px;
	margin-top: 25px;
	margin-left: 50px;
}

footer div.strategy{
	font-size: 30px;
	background-color: #5176FF;
	float:left;
	margin-left: 20px;
	padding: 10px;
	margin-top: 43px;
}

div.group{
	margin-top: 10px;
	padding-top: 40px;
	line-height: 1;
}

@media(max-width: 600px){
    body{
       font-size: 14px !important;
    }

}
